body{
    background:rgb(0, 0, 0);
    color:rgb(250, 246, 45);
    margin:0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}
header{
border-bottom:solid 10px rgb(251, 255, 0);
padding:20px;
font-size: 60px;
color:rgb(252, 239, 65)
}
section {
    background:rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content:center;
}
.chamada-texto{
    margin-right:5%;
}
h1 {
    font-size:40px;
}
p {
    font-size:20px;
}

.categoria-videos {
    display: flex;
    overflow-x:auto;
    gap:20px;
}
categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img {
    opacity: 0.5;
    height: 250px;
}
.categoria-videos img:hover{
    opacity: 1;
    border: 2px solid yellow
}
.categoria h2 {
    color:rgb(252, 239, 65)
}
